<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/htmlHead') %>
	<link rel="stylesheet" href="css/main.css">
	<title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/menu', {pageIdCode: '404'}) %>
	<p style="margin-top: 2rem"><span class="danger">Sorry, you have requested a page that does not exist.</span></p>
</body>

</html>