<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/htmlHead') %>
	<link rel="stylesheet" href="css/main.css">
    <title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
    <%- include('../partials/menu', {pageIdCode: 'about'})%>
    <p>This is the about page.</p>
	<p>Version 0.2</p>
</body>

</html>