<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/htmlHead') %>
	<link rel="stylesheet" href="css/main.css">
    <title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
    <%- include('../partials/menu', {pageIdCode: 'welcome'})%>
    <p>Welcome to this site.</p>
</body>

</html>