<nav>
	<a class="<%= pageIdCode === 'welcome' ? 'active' : '' %>" href="/">Welcome</a>
	<a class="<%= pageIdCode === 'books' ? 'active' : '' %>" href="/books">Books</a>
	<a class="<%= pageIdCode === 'about' ? 'active' : '' %>" href="/about">About</a>
</nav>